@import '@commitchange/commons.css';
@import 'styles/fonts.css';
@import 'styles/browser-image.css';

$blue: #73bbd2;

.no-margin-last-child > *:last-child {
  margin: 0;
}

body {
  font-size: 16px;
}

.bump {
  font-size: 18px;
}

a {
  color: black !important;
  background-image: linear-gradient(to right, $blue, $blue);
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-position: 0 1em;
  background-size: 100% 2px;
  display: inline;
}

.dropShadow {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

p {
  line-height: 1.6;
}

.p-05 {
  padding: 5px;
}
.p-1 {
  padding: 10px;
}
.p-2 {
  padding: 15px;
}
.p-3 {
  padding: 20px;
}

.readable {
  max-width: 700px;
}

.fullMaxHeight {
  max-height: 100%;
}

.verticallyCenter {
  position: relative;
  top: 50%;
  transform: perspective(1px) translateY(-50%);
}

.container {
  margin: 0 auto;
  max-width: 925px;
}

figcaption {
  color: white;
  right: 5px;
  left: 5px;
  bottom: 5px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  opacity: 0;
  animation: fadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 0.2s;
  animation-delay: 0.2s;
}

figure:hover figcaption {
  opacity: 1;
}

.transO {
  transition: opacity ease-out 0.2s;
}

@media screen and (max-width: 700px) {
  .col-4 {
    width: 50%;
  }
}

.browserImageWrapper {
  padding-bottom: 2rem;
}

@media screen and (max-width: 600px) {
  .col-7,
  .col-5 {
    width: 100%;
  }
  .browserImageWrapper {
    padding-bottom: 3rem;
  }
  .browserImageWrapper:last-of-type {
    padding-bottom: 1rem;
  }
  figcaption.col-5.color-black {
    padding: 0;
    text-align: left;
  }
  article.clearfix.mb-4 {
    margin-bottom: 1rem;
  }
  hr.mb-4 {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 400px) {
  .col-4 {
    width: 100%;
  }
}
