@import '@commitchange/commons.css';
@import 'styles/fonts.css';
@import 'styles/browser-image.css';


body { background: rgba(0,0,0,.045) }

$blue: rgb(174, 202, 211);

a {
  color: black !important;
  border-bottom: 2px solid $blue;
}

.dropShadow { box-shadow: 0 0 20px rgba(0,0,0,0.4) }

.p-1 { padding: 10px }
.p-2 { padding: 15px }
.p-3 { padding: 20px }
.p05 { padding: 5px }

.readable {
  max-width: 700px;
}

.smooth { -webkit-font-smoothing: antialiased; }

.fullMaxHeight { max-height: 100% }

.verticallyCenter {
  position: relative;
  top: 50%;
  transform: perspective(1px) translateY(-50%);
}

.container {
  margin: 0 auto;
  max-width: 925px;
}


figcaption {
  color: white;
  right: 5px;
  left: 5px;
  bottom: 5px;
  font-size: 15px;
  font-weight: lighter;
}

figure:hover figcaption { opacity: 1; }

.transO {
  transition: opacity ease-out 0.2s;
}

.transO--slow {
  transition: opacity ease-out 0.4s;
}

@media screen and (max-width: 700px) {
  .col-4 {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .col-7,
  .col-5 {
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .col-4 {
    width: 100%;
  }
}

