@import 'normalize.css';
@import 'fonts.css';
@import 'utils.css';
@import 'header.css';

* {
 box-sizing: border-box;   
}

a {
  cursor: pointer;
  border-bottom: 2px solid rgba(174, 202, 211, 0.7);
}

a:hover {
  border-color: rgb(174, 202, 211);
}


body {
  background: rgba(0, 0, 0, 0.05);
}

.container {
  max-width: 900px;
  margin: 0 auto;
}




