header {
  background: white;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.05);
}

header .container {
  display: flex;
  align-items: baseline;
  padding: 8px 5px;
}

header ul,
header h1 {
  margin: 0;
  padding: 0;
}

header nav {
  flex-grow: 1;
}

header h1 {
  font-size: 1.3rem;
}

header ul {
  display: flex;
  justify-content: space-around;
}

header li {
  padding: 0 5px;
  list-style-type: none;
}

