@import '../node_modules/normalize.css/normalize.css';
@import '../node_modules/basscss/css/basscss.css';
@import 'fonts';

* {
 box-sizing: border-box;   
}

a {
  cursor: pointer;
  border-bottom: 2px solid rgb(174, 202, 211);
}

body {
  background: rgb(243, 243, 243);
}

.container {
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
}

hr {
  border: none;
  border-top: 1px solid rgba(0,0,0,0.1);
  margin-top: 5px;
}

figure {
  margin: 0;
  position: relative;
}

figcaption {
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
  left: 0;
  opacity: 0;
  padding: 10px;
  width: 100%;
  background: rgba(0,0,0,0.6);
  color: white;
  content: attr(alt);
  transition: all ease-out 0.1s;
}

figure:hover figcaption {
  opacity: 1;
}

img {
  max-width: 100%;
  max-height: 100%;
}



