@import '../node_modules/normalize.css/normalize.css';
@import '../node_modules/basscss/css/basscss.css';
@import 'fonts';

* {
 box-sizing: border-box;   
}


$blue: rgb(174, 202, 211);

a {
  cursor: pointer;
  color: black !important;
  text-decoration: none !important;
  border-bottom: 2px solid $blue;
}

body {
  background: rgb(243, 243, 243);
}

.dropShadow {
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

.browserImage {
   box-shadow: 0 0 3px rgba(0,0,0,0.5);
   border-radius: 4px; 
   overflow: hidden;
}

.browserImage i {
  width: 8px;
  height: 8px;
  top: 6px;
  opacity: 0.7;
  border: 1px solid rgba(0,0,0,0.1);
}

.browserImage i:first-of-type {
  background: #ec4a26;
  left: 7px;
}

.browserImage i:nth-of-type(2) {
  background: #ffbc00;
  left: 19px;
}

.browserImage i:last-of-type {
  background: #62b308;
  left: 31px;
}

.browserImage div {
  height: 20px;
  background: #d6d6d6;
  border-bottom: 1px solid #cacaca;
}

.browserImage img {
  margin-top: 19px;
}


.p1 {
  padding: 10px;
}
.p2 {
  padding: 15px;
}
.p3 {
  padding: 20px;
}
.p05 {
  padding: 5px;
}

.readable {
  line-height: 1.5;
  max-width: 700px;
}

.slideShow {
  width: 100px;
  height: 100px;
  background: white;
}

header:hover .slideShow {
  background: url('images/yh-slideshow.gif');
}

.smooth {
  -webkit-font-smoothing: antialiased; 
}

.pointer {
  cursor: pointer;
}

.fullHeight {
  height: 100%;
}

.fullWidth {
  width: 100%;
}

.fullMaxHeight {
  max-height: 100%;
}

.verticallyCenter {
  position: relative;
  top: 50%;
  transform: perspective(1px) translateY(-50%);
}

.o0 {
  opacity: 0;
}

.o1 {
  opacity: 1;
}

.scrim {
  background: rgba(0,0,0,0.6);
}

.container {
  margin: 0 auto;
  max-width: 1000px;
}

hr {
  border: none;
  border-top: 2px solid rgba(0,0,0,0.1);
  margin-top: 5px;
}


figcaption {
  color: white;
  right: 5px;
  left: 5px;
  bottom: 5px;
}

figure:hover figcaption {
  opacity: 1;
}

.transO {
  transition: opacity ease-out 0.2s;
}

.transO--slow {
  transition: opacity ease-out 0.4s;
}

img {
  max-width: 100%;
}


@media screen and (max-width: 700px) {
  .col-4 {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .col-7,
  .col-5 {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .col-4 {
    width: 100%;
  }
}

